@model List<Treinee.Quake.Domain.ValuesObject.Kills>

@{
    ViewData["Title"] = "Home Page";
}

<h1>RANKING</h1>

<div id="cnt-res">
    <form method="get" asp-action="SearchByName" data-ajax="true" data-ajax-method="post" data-ajax-update="#panel">
        <input type="text" name="search" id="search" placeholder="Busca por nomes" />
        <input type="submit" value="Buscar" />
    </form>

    <div id="panel">
        <partial name="_Kills" model="Model" />
    </div>
</div>